.progress {
    height: 25px;
}

.card {
    margin-bottom: 2rem;
}

.table td, .table th {
    vertical-align: middle;
    white-space: nowrap;
}

.table td:first-child {
    min-width: 200px;  /* Больше места для названия проекта */
}

.table td:last-child {
    min-width: 150px;  /* Больше места для кнопок */
}

.table-responsive {
    overflow-x: auto;
}

.btn-sm {
    margin: 0.2rem;
}