{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- First Block: Description -->
    <section class="mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-4 d-flex align-items-center">
                    <img src="{{ url_for('static', filename='icons/ecutelemetry-icon.png') }}" 
                         alt="{{ _('EUCTelemetry Icon') }}" 
                         class="me-2"
                         style="height: 32px; width: auto;">
                    {{ _('EUCTelemetry') }}
                </h2>
                <p class="lead">
                    {{ _('The program is designed to extract telemetry data (speed, PWM, GPS speed, power, current, voltage, battery charge, trip mileage, temperature) from popular programs like <strong>DarknessBot</strong> and <strong>WheelLog</strong> and overlay them on a blue background (chroma key) for further integration of telemetry data onto your video recorded during a trip or from cameras such as <strong>insta360</strong>, <strong>GoPro</strong>, <strong>iPhone</strong>, or any other camera.') }}
                </p>
                <video class="img-fluid rounded shadow" autoplay loop muted playsinline>
                    <source src="{{ url_for('static', filename='mp4/screenvid.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>

    {% include '_home_content.html' %}
</div>
{% endblock %}